<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.hbm2ddl.import_files">/import.sql</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.max_fetch_depth">5</property>
        <property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
    
    <!-- Add your hibernate classes here! -->
        <mapping class="org.xsalefter.springhibernate.model.Supplier" />
        <mapping class="org.xsalefter.springhibernate.model.GoodReception" />
        <mapping class="org.xsalefter.springhibernate.model.ItemReception" />
        <mapping class="org.xsalefter.springhibernate.model.Item" />

    </session-factory>
</hibernate-configuration>

